<!-- Start your project here-->
<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>My adventure</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
        <!-- Text -->
        <p class="card-text">
            <%= title %> Page
        </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    </div>
    <div class="card-body card-body-cascade text-center" style="margin-top: auto;">
        <% if (locals.user) { %>
        <form action="/posts/create" method="POST" id="new-post-form">
            <div class="form-group shadow-textarea">
                <label for="exampleFormControlTextarea6">Post's</label>
                <textarea name="content" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                    placeholder="Write something here..." required></textarea>
                <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" type="submit">Post</button>
            </div>
        </form>
        <% } %>


    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <ul class="list-group">
                    <% if (locals.user) { %>
                        <% for( u of alluser ) { %>
                            <li class="list-group-item">
                                <a href="/users/profile/<%= u.id %>" class="text-white btn-floating btn-email btn-md"><i
                                        class="fad fa-user fa-2x"
                                        style="--fa-secondary-opacity: 1.0; --fa-primary-color: dodgerblue; --fa-secondary-color: gold;"></i></a>
                                <%= u.name %>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </ul>
        </div>
    </div>

    <div id="posts-list-container" class="card-body card-body-cascade" style="margin-top: auto;">
        <ul class="list-group list-group-flush">
            <ul class="list-group">
                <% for( post of posts ) { %>
                <br>
                <%- include('_post') -%>
                <% } %>
            </ul>
        </ul>
    </div>
    <br>
    <!-- Card content End-->


</div>
<!-- Card End-->


<!-- End your project here-->