<!-- Start your project here-->
<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>My adventure</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
        <!-- Text -->
        <p class="card-text">
            <%= title %> Page
        </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    </div>
    <div class="card-body card-body-cascade text-center" style="margin-top: auto;">
        <form action="/posts/create" method="POST" id="new-post-form">
            <div class="form-group shadow-textarea">
                <label for="exampleFormControlTextarea6">Post's and Comment's</label>
                <textarea name="content" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                    placeholder="Write something here..."></textarea>
                <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" type="submit">Post</button>
            </div>
        </form>
        
    </div>
    <div id="posts-list-container">
        <ul class="list-group list-group-flush">
            <ul class="list-group">
                <% for( post of posts ) { %>
                <li class="list-group-item">
                    <a class="text-white btn-floating btn-fb btn-sm"><i class="fas fa-blog"></i></a><%= post.content %>
                    <span> &nbsp -<%= post.user.username %> </span>
                </li>
                <% } %>


            </ul>
        </ul>
    </div>
    <!-- Card content End-->


</div>
<!-- Card End-->


<!-- End your project here-->